* {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

.ytvid {
    width: 450px;
    height: 338px;
}

.dropbtn {
    background-color: rgb(40, 42, 53);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    text-align: left;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: rgb(36, 38, 48);
    border-radius: 5px;
}

.dropdownimg {
    width: 60px;
    margin: -5px;
}

html {
    background-color: rgb(40, 42, 53);
}

b {
    font-size: 20px;
}

.titletext {
    color: white;
    font-size: 35px;
}

nav {
    text-align: center;
    padding: 80px;
    margin: 0px;
    background-image: url(./Bckgrnd\ img.png); 
    background-position-x: center;
    background-position-y: 55%;
    display: flex;
}

.main0 {
    color: white;
    background-color: rgb(40, 42, 53);
    padding: 50px;
    margin-right: 0px;
    margin-top: 0px;
}

.main1 {
    color: white;
    background-color: rgb(40, 42, 53);
    padding: 50px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
}

.main2 {
    color: white;
    background-color: rgb(40, 42, 53);
    padding: 50px;
    margin-top: 0px;
    margin-left: 0px;
}

.crewlogo {
    width: 120px;
    margin-right: 20px;
    filter: invert();
    rotate: 10deg;
    margin-bottom: 6px;
}

.hllogo {
    width: 100px;
}

.logos {
    margin-top: 30px;
}

.formsbutton {
    margin-top: 15px;
}

.button {
    border: none;
    color: rgb(40, 42, 53);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-style: none;
    margin: 4px 2px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    border: none;
    color: rgb(40, 42, 53);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-style: italic;
    margin: 4px 2px;
    border-radius: 5px;
    cursor: pointer;
}

.flexdisplay {
    display: flex;
}

@media only screen and (max-width: 1047px) {
    .flexdisplay {
        display: block;
    }

    nav {
        display: block;
    }

    .dropdown {
        margin-top: 20px;
    }
}

iframe {
    display: flex;
    height: 1000px;
    margin-top: 30px;
}

.formshtml {
    overflow-y: hidden;
}

.downloadicon {
    width: 18px;
}

.terugform {
    display: flex;
}

.darkred {
    color: rgb(226, 0, 0)
}